

/*.div-product {*/
/*    width: 100%;*/
/*    box-shadow: 0px 18px 25px 2px rgba(0, 0, 0, 0.46);*/
/*    -webkit-box-shadow: 0px 18px 25px 2px rgba(0, 0, 0, 0.46);*/
/*}*/

/*.div-img {*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    height: 300px;*/
/*}*/


/*.img-product {*/
/*    width: 100%;*/
/*    height: 250px;*/
/*    border-radius: 5px;*/
/*    margin-top: 5px;*/
/*    margin-bottom: 0;*/
/*}*/

/*.div-description {*/
/*    margin: 0 10px 10px 10px;*/
/*}*/

/*.btn-detail {*/
/*    border: none;*/
/*    width: 95%;*/
/*    background-color: hsl(26, 100%, 55%);*/
/*    color: white;*/
/*    padding: 10px;*/
/*    border-radius: 7px;*/
/*    font-weight: 400;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.btn-detail:hover {*/
/*    color: hsl(26, 100%, 55%);*/
/*    background-color: white;*/
/*    cursor: pointer;*/
/*    border: 1px solid hsl(26, 100%, 55%);*/
/*}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.div-product {
    display: inline-block;
    width: 260px;
    height: 350px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -6px black;
    margin-top: 20px;
}

.div-img {
    text-align: center;
}

.img-product {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid hsl(26, 100%, 55%);
}

.div-description {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

.div-description h4 {
    margin: 10px 0 10px 0;
}

.div-description p {
    margin: 10px 0 10px 0;
}

.contenedor-btn {
    text-align: center;
}

.btn-detail {
    border: none;
    width: 95%;
    background-color: hsl(26, 100%, 55%);
    color: white;
    padding: 10px;
    border-radius: 7px;
    font-weight: 700;
    margin: 10px 0 10px 0;

}

.btn-detail:hover {
    color: hsl(26, 100%, 55%);
    background-color: white;
    cursor: pointer;
    border: 1px solid hsl(26, 100%, 55%);
}