/*.list-item-cart {*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    background-color: red;*/
/*}*/
/*.list-item-cart img {*/
/*    width: 80px;*/
/*    height: 80px;*/
/*}*/
body {
    color: hsl(219, 9%, 45%);
}

.div-cart {
    display: flex;
    position: fixed;
    background-color: #efefef;
    z-index: 5;
    left: 80%;
    top: 12%;
    flex-direction: column;
    width: 250px;
    font-size: 0.8rem;
    box-shadow: 0px 18px 25px 2px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 18px 25px 2px rgba(0, 0, 0, 0.46);
}

h3 {
    margin: 20px 0px 10px 20px
}

hr {
    width: 90%;
    opacity: 50%;
}

.img-producto {
    width: 40px;
    border-radius: 10px;
}

.div-producto {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-price-qt {
    display: flex;
    gap: 3px;
    margin-top: -10px;
}

.icon-delete {
    width: 12px;
}

.icon-delete:hover {
    cursor: pointer;
}

.description {
    margin-bottom: 0px;
}

.price-total {
    color: black;
    font-weight: 700;
}

.div-btn {
    text-align: center;
}

.btn-checkout {
    width: 90%;
    height: 100%;
    background-color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 15px;
    color: white;
}

.btn-checkout:hover {
    cursor: pointer;
}